[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
category-encoders = "*"
eli5 = "*"
matplotlib = "*"
notebook = "*"
pandas = "*"
plotly = "*"
pdpbox = "*"
scipy = "*"
seaborn = "*"
scikit-learn = "*"
requests = "*"
xgboost = "*"
numpy = "==1.19.3"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
